<mat-card>
  <mat-card-title>
    Scorers
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="runs">
      <mat-accordion>
        <div *ngFor="let run of runs" style="margin-bottom: 25px">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>

                <h4>{{run.team.name}} : Total Scorer is <span style="color: coral"><b>{{getScorer(run)}}</b></span></h4>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ul>
              <li *ngFor="let guess of run.guessList">
                {{getGpsDifference(guess.guess, guess.target) }}
              </li>
            </ul>
          </mat-expansion-panel>

        </div>
      </mat-accordion>

    </div>

  </mat-card-content>
</mat-card>

